html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #222;
    border: none;
    font-family: 'Source Sans Pro', 'Lato', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    font-weight: 800;
    color:#222
}
.sphere {
    background: white;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 2000px;
    text-align: center;
    line-height: 200px;
    font-size: 60px;
}
.container {
    width: 100%;
    height: 100%;
}

body:not(.s) .sphere {
    display:none;
}

body.s #modal {
    display: none;
}

#s3 {
    background-image:url(shapes.png);
    background-size:cover;
    background-position-x:50%;
    background-position-y:0%;
    z-index: 10;
}

#modal,#getready {
    width: 100%;
    height:100%;
    background:#222;
    opacity: 1;
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#modal div,#getready div {
    width:50%;
    color:white;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    text-align: justify;
}

#getready div {
    text-align: center;
}

body.r #modal {
    display: none;
}

body.s #getready {
    display:none;
}

button {
    margin-top:20px;
    background:#eee;
    border:none;
    padding:10px 30px;
    font-family: inherit;

}

img {
    position: relative;
    height: 10%;
    left: 50%;
    transform: translateX(-50%)
}
